main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content img {
  width: 70%;
  height: 80vh;
}
.blog-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  display: grid;
  height: auto;
}
strong {
  font-weight: 500;
  font-size: 20px;
}
h3 {
  font-size: 20px;
}
h3:hover,
strong:hover {
  color: #e89058;
  opacity: 0.5;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  nav {
    display: none;
  }
  .active {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e89058;
    position: fixed;
    padding: 10px;
    margin-top: 300px;
    gap: 20px;
  }
  main {
    height: auto;
  }

  .content img {
    width: 100%;
    height: 50vh;
  }
  .blog-container {
    width: 90%;
    height: auto;
    display: grid;
    margin-bottom: 30px;
    margin-top: 30px;
    place-content: center;
  }
  strong {
    font-size: 16px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  nav {
    display: none;
  }
  .active {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e89058;
    position: fixed;
    padding: 10px;
    margin-top: 300px;
    gap: 20px;
  }
  main {
    height: auto;
  }

  .content img {
    width: 70%;
    height: 60vh;
  }
  .blog-container {
    width: 90%;
    height: auto;
    display: grid;
    place-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  strong {
    font-size: 19px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  main {
    height: auto;
  }

  .content img {
    width: 90%;
    height: 60vh;
  }
  .blog-container {
    width: 90%;
    height: auto;
    display: grid;
    place-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  strong {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  main {
    height: auto;
  }
  .blog-container {
    width: 90%;
    height: auto;
    display: grid;
    place-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  strong {
    font-size: 20px;
  }
}
